{{ form_start(registrationForm) }}
{{ form_row(registrationForm.email) }}
{{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
{{ form_row(registrationForm.name) }}
{{ form_row(registrationForm.surname) }}
{{ form_row(registrationForm.city) }}
{{ form_row(registrationForm.address) }}
{{ form_row(registrationForm.pobox) }}
{{ form_row(registrationForm.agreeTerms) }}

<button type="submit" class="btn">S'enrégistrer</button>
{{ form_end(registrationForm) }}
