{% extends 'loginbase.html.twig' %}

{% block title %}Reinitialiser le mot de passe
{% endblock %}

{% block body %}
	{% for flashError in app.flashes('reset_password_error') %}
		<div class="alert alert-danger" role="alert">{{ flashError }}</div>
	{% endfor %}

	<form method="post">
		<img class="mb-4" src="{{ asset('build/images/bootstrap-logo.svg') }}" alt="" width="72" height="57">
		<h1 class="h3 mb-3 font-weight-normal fw-normal">Reset your password</h1>

		<div class="form-floating">
			<input type="text" name="{{requestForm.email.vars.full_name}}" class="form-control" id="{{requestForm.email.vars.id}}" placeholder="Password">
			<label for="{{requestForm.email.vars.id}}">{{requestForm.email.vars.label}}</label>
			{{ form_errors(requestForm.email) }}
		</div>

		{{ form_row(requestForm._token) }}

		<button class="w-100 btn btn-lg btn-primary">Send password reset email</button>
		<div></div>
		<div>
			<small>
				Enter your email address and we will send you a link to reset your password.
			</small>
		</div>
	</form>
	<p>
		<a class="btn" href="{{path('app_login')}}">Se connecter</a>
	</p>
{% endblock %}
